<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css"/>
    <link rel="stylesheet" href="../static/css/show.css"/>
    <script src="../static/layui/layui.js"></script>
    <script src="../static/js/index-use.js"></script>
</head>
<!--任务处理这一块，高权限的拥有查看处理人不是自己账户的待办任务-->
<body class="layui-view-body">
<div class="layui-content">
    <div class="layui-row layui-col-space3">
        <div class="layui-col-md12 layui-col-space8">
            <div class="layui-card">
                <div class="layui-card-header">
                    筛选
                </div>
                <div class="layui-card-body">
                    <ul class="file-select clearfix">
                        <li class="item">
                            <span>上传日期:</span>
                            <input type="text" value placeholder="模糊查询">
                        </li>
                        <li class="item">
                            <span>排序方式:</span>
                            <input type="text" value placeholder="模糊查询">
                        </li>
                        <li class="item">
                            <span>文件名:</span>
                            <input type="text" value placeholder="模糊查询">
                        </li>
                        <li class="btn">
                            <input class="layui-btn layui-btn-xs" type="button" value="搜索">
                            <input class="layui-btn layui-btn-xs" type="button" value="重置">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="layui-col-md12 layui-col-space8">
            <div class="layui-card">
                <table class="layui-table"  lay-size="sm">
                    <colgroup>
                        <col width="12">
                        <col width="48">
                        <col width="">
                        <col width="200">
                        <col width="200">
                        <col width="100">
                    </colgroup>
                    <thead>
                    <tr>
                        <th><input type="checkbox"></th>
                        <th>序号</th>
                        <th>文件名</th>
                        <th>上传日期</th>
                        <th>上传人</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>xxx部门申请活动经费</td>
                        <td>贤心</td>
                        <td>2019年1月19日 12:10:12</td>
                        <td>
                            <input class="layui-btn layui-btn-xs" style="width: 68px" type="button" value="下载">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>xxx部门申请活动经费</td>
                        <td>许闲心</td>
                        <td>2019年1月19日 12:09:42</td>
                        <td>
                            <input class="layui-btn layui-btn-xs" style="width: 68px" type="button" value="下载">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>xxx部门申请活动经费</td>
                        <td>许闲心</td>
                        <td>2019年1月19日 12:09:42</td>
                        <td>
                            <input class="layui-btn layui-btn-xs" style="width: 68px" type="button" value="下载">
                        </td>
                    </tr>
                    </tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>xxx部门申请活动经费</td>
                        <td>许闲心</td>
                        <td>2019年1月19日 12:09:42</td>
                        <td>
                            <input class="layui-btn layui-btn-xs" style="width: 68px" type="button" value="下载">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>