<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
    <script src="../../static/jquery-3.3.1/jquery-3.3.1.js"></script>
    <script src="../../static/jquery-cookies-1.4.1/jquery.cookie.js"></script>
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/css/show.css"/>
    <link rel="stylesheet" href="../../static/css/views-css/pager.css"/>
    <link rel="stylesheet" href="../../static/css/views-css/modal.css"/>
    <link rel="stylesheet" href="../../static/css/views-css/manage-user.css">
    <script src="../../static/layui/layui.js"></script>
    <script src="../../static/js/index-use.js"></script>
    <script src="../../static/js/views-js/manage-user.js"></script>
    <script src="../../static/js/views-js/modal.js"></script>
</head>
<body class="layui-view-body">
<div class="view-content">
    <div class="layui-row">
        <div class="layui-col-md12 layui-col-space8">
            <div class="layui-card">
                <div class="layui-card-header">
                    <input class="insert open layui-btn layui-btn-normal layui-btn-sm" style="width: 68px" type="button" value="新增">
                </div>
                <div class="layui-card-body">
                    <form>
                    <ul class="file-select clearfix">
                        <li class="item">
                            <span>排序方式:</span>
                            <select id="sort-type" style="width: 135px">
                                <option value="DESC" selected="true">按创建时间倒序</option>
                                <option value="ASC">按创建时间正序</option>
                            </select>
                        </li>
                        <li class="item">
                            <span>用户名:</span>
                            <input id="sort-username" type="text" value placeholder="模糊查询">
                        </li>
                        <li class="item">
                            <span>手机号:</span>
                            <input id="sort-userphone" type="text" value placeholder="模糊查询">
                        </li>
                        <li class="btn">
                            <input class="search layui-btn layui-btn-normal layui-btn-xs" type="button" value="搜索">
                            <input class="reset layui-btn layui-btn-normal layui-btn-xs" type="reset" value="重置">
                        </li>
                    </ul>
                    </form>
                </div>
            </div>
        </div>
        <div class="layui-col-md12 layui-col-space8">
            <div class="layui-card">
                <table class="layui-table" lay-size="sm">
                    <colgroup>
                        <!--<col width="12">-->
                        <col width="45">
                        <col width="70">
                        <col width="80">
                        <col width="150">
                        <col width="130">
                        <col width="">
                        <col width="">
                        <col width="200">
                    </colgroup>
                    <thead>
                    <tr>
                        <!--<th><input type="checkbox" name="userCheckBox"></th>-->
                        <th>用户编号</th>
                        <th>用户名</th>
                        <th>级别</th>
                        <th>邮箱</th>
                        <th>手机号</th>
                        <th>创建日期</th>
                        <th>更新日期</th>
                        <th style="text-align:center">操作</th>
                    </tr>
                    </thead>
                    <tbody id="user-list">
                    <tr>
                        <!--<td><input type="checkbox" name="userCheckBox"></td>-->
                        <td>用户编号</td>
                        <td>用户名</td>
                        <td>级别</td>
                        <td>邮箱</td>
                        <td>手机号</td>
                        <td>创建日期</td>
                        <td>更新日期</td>
                        <td>
                            <input class="edit open layui-btn layui-btn-normal layui-btn-xs" style="width: 35px"
                                   type="button" value="修改">
                            <input class="del open layui-btn layui-btn-normal layui-btn-xs" style="width: 35px"
                                   type="button" value="删除">
                            <input class="reset open layui-btn layui-btn-normal layui-btn-xs" style="width: 69px"
                                   type="button" value="初始化密码">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="pager pagination">
                    <ul class="pages">
                        <li class="page-item prev">
                            <button class="nav-btn">上一页</button>
                        </li>
                        <li class="page-item active">
                            <button class="pagination-btn num-btn">1</button>
                        </li>
                        <li class="page-item">
                            <button class="pagination-btn num-btn">2</button>
                        </li>
                        <strong>...</strong>
                        <li class="page-item last">
                            <button class="pagination-btn num-btn">3</button>
                        </li>
                        <li class="page-item next">
                            <button class="nav-btn">下一页</button>
                        </li>
                    </ul>
                    <div class="jump-pager">
                        <div class="page-total">
                            <span class="pagination-btn count">共 4705 页/ 94100 个 ，</span>
                        </div>
                        <span>跳至</span>
                        <input type="text" class="jump-pager-input no-spin">
                        <span>页</span>
                        <input type="button" value="跳转" class="jump-pager-button">
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!--新增账号模态框-->
        <div id="modal-insert"  class="modal">
            <div class="modal-header">
                <h3>信息</h3>
                <span class="close layui-icon layui-icon-close-fill"></span>
            </div>
            <div class="modal-body">
                <div class="list-content">
                    <div class="list-colum">
                        <label class="list-lable">用户名:</label>
                        <input id="insert-user-name" type="text" class="right-line" placeholder="请输入">
                    </div>
                    <div class="list-colum">
                        <label class="list-lable">手机号:</label>
                        <input id="insert-user-phone" type="text" class="right-line" placeholder="请输入">
                    </div>
                    <div class="list-colum">
                        <label class="list-lable">初始密码:</label>
                        <p id="insert-user-password">123456</p>
                    </div>
                    <div class="list-colum">
                        <label class="list-lable">级别:</label>
                        <select id="insert-user-level-select" style="width: 200px" class="right-line">
                            <option value="10005" selected="true">员工</option>
                            <option value="10004">部门主管</option>
                            <option value="10003">行政人员</option>
                            <option value="10002">部门经理</option>
                            <option value="10001">总经理</option>
                        </select>
                    </div>
                     <div class="list-colum">
                        <label class="list-lable">所属部门:</label>
                        <select id="insert-user-department-select" style="width: 200px" class="right-line">
                            <option value="30005">技术部</option>
                            <option value="30004">财务部</option>
                            <option value="30003">人事部</option>
                            <option value="30002">计划营销部</option>
                            <option value="30001">总经理办公室</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input class="insert-yes layui-btn layui-btn-normal" type="button" value="确认">
                <input class="insert-no layui-btn layui-btn-normal" type="button" value="取消">
            </div>
        </div>

        <!--修改模态框-->
        <div id="modal-edit"  class="modal">
            <div class="modal-header">
                <h3>信息</h3>
                <span class="close layui-icon layui-icon-close-fill"></span>
            </div>
            <div class="modal-body">
                <div class="list-content">
                    <div class="list-colum">
                            <label class="list-lable">编号:</label>
                            <p id="user-id" class="right-line" >xxxxxx</p>
                    </div>
                    <div class="list-colum">
                        <label class="list-lable">用户名:</label>
                        <input id="user-name" type="text" class="right-line">
                    </div>
                    <div class="list-colum">
                        <label class="list-lable">邮箱:</label>
                        <input id="user-email" type="text" class="right-line">
                    </div>
                    <div class="list-colum">
                        <label class="list-lable">手机号:</label>
                        <input id="user-phone" type="text" class="right-line">
                    </div>
                    <div class="list-colum">
                        <label class="list-lable">级别:</label>
                        <select id="user-level-select" style="width: 200px" class="right-line">
                            <option value="10005">员工</option>
                            <option value="10004">部门主管</option>
                            <option value="10003">行政人员</option>
                            <option value="10002">部门经理</option>
                            <option value="10001">总经理</option>
                        </select>
                    </div>
                    <div class="list-colum">
                        <label class="list-lable">所属部门:</label>
                        <select id="user-department-select" style="width: 200px" class="right-line">
                            <option value="30005">技术部</option>
                            <option value="30004">财务部</option>
                            <option value="30003">人事部</option>
                            <option value="30002">计划营销部</option>
                            <option value="30001">总经理办公室</option>
                        </select>
                    </div>
                    <div class="list-colum">
                        <label class="list-lable">创建日期:</label>
                        <p id="createtime" >xxxxxxx</p>
                    </div>

                    <div class="list-colum">
                        <label class="list-lable">更新日期:</label>
                        <p id="updatetime">xxxxxxxxx</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input class="edit-yes layui-btn layui-btn-normal" type="button" value="修改">
                <input class="edit-no layui-btn layui-btn-normal" type="button" value="取消">
            </div>
        </div>

        <!--删除提示模态框-->
        <div id="modal-del" class="modal-tips">
            <div class="modal-tips-header">
                <h3>提示</h3>
                <span class="close layui-icon layui-icon-close-fill"></span>
            </div>
            <div class="modal-tips-body">
                <p class="tips"></p>
            </div>
            <div class="modal-tips-footer">
                <input class="tips-del-yes layui-btn layui-btn-normal" type="button" value="确定">
                <input class="tips-del-no layui-btn layui-btn-normal" type="button" value="取消">
            </div>
        </div>

        <!--重置提示模态框-->
        <div id="modal-reset" class="modal-tips">
            <div class="modal-tips-header">
                <h3>提示</h3>
                <span class="close layui-icon layui-icon-close-fill"></span>
            </div>
            <div class="modal-tips-body">
                <p class="tips"></p>
            </div>
            <div class="modal-tips-footer">
                <input class="tips-reset-yes layui-btn layui-btn-normal" type="button" value="确定">
                <input class="tips-reset-no layui-btn layui-btn-normal" type="button" value="取消">
            </div>
        </div>

        <!--遮罩层-->
        <div class="mask"></div>
    </div>
</div>
</body>
</html>