<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <link rel="stylesheet" href="../static/css/show.css"/>
    <script src="../static/layui/layui.js"></script>
    <script src="../static/js/index-use.js"></script>
</head>
<body>
<div class="layui-content">
    <div class="layui-row">
        <div class="layui-col-md12 layui-col-space8">
            <div class="layui-card">
                <table class="layui-table"  lay-size="sm">
                    <colgroup>
                        <col width="12">
                        <col width="48">
                        <col width="">
                        <col width="200">
                        <col width="200">
                        <col width="100">
                    </colgroup>
                    <thead>
                    <tr>
                        <th><input type="checkbox"></th>
                        <th>序号</th>
                        <th>公告标题</th>
                        <th>发布日期</th>
                        <th>发布人</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>xxx部门申请活动经费</td>
                        <td>贤心</td>
                        <td>2019年1月19日 12:10:12</td>
                        <td>
                            <input class="layui-btn layui-btn-xs" style="width: 68px" type="button" value="查看">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>xxx部门申请活动经费</td>
                        <td>许闲心</td>
                        <td>2019年1月19日 12:09:42</td>
                        <td>
                            <input class="layui-btn layui-btn-xs" style="width: 68px" type="button" value="查看">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>xxx部门申请活动经费</td>
                        <td>许闲心</td>
                        <td>2019年1月19日 12:09:42</td>
                        <td>
                            <input class="layui-btn layui-btn-xs" style="width: 68px" type="button" value="查看">
                        </td>
                    </tr>
                    </tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>xxx部门申请活动经费</td>
                        <td>许闲心</td>
                        <td>2019年1月19日 12:09:42</td>
                        <td>
                            <input class="layui-btn layui-btn-xs" style="width: 68px" type="button" value="查看">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>