<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../static/jquery-3.3.1/jquery-3.3.1.js"></script>
    <script src="../../static/jquery-cookies-1.4.1/jquery.cookie.js"></script>
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/css/show.css"/>
    <script src="../../static/layui/layui.js"></script>
    <script src="../../static/js/index-use.js"></script>
    <script src="../../static/js/views-js/notice-details.js"></script>
</head>
<body class="layui-view-body">
<div class="layui-content">
    <div class="layui-col-sm12 layui-col-md12">
        <div class="layui-card" id="notice-details">
            <div>
                <button id="back-btn" class="layui-btn layui-btn-normal"><i class="layui-icon">&#xe603;</i>返回</button></div>
            <div class="layui-card-header" style="text-align: center; font-size: 28px;font-weight: 550;">卡片面板</div>
            <div>
                <p style="text-align: center; font-size: small;">发布者：</p>
            </div>
            <div class="layui-card-body">
                卡片式面板面板通常用于非白色背景色的主体内<br>
                从而映衬出边框投影
            </div>
        </div>
    </div>
</div>
</body>
</html>