<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css"/>
    <link rel="stylesheet" href="../static/css/show.css"/>
    <script src="../static/layui/layui.js"></script>
    <script src="../static/js/index-use.js"></script>
</head>
<body class="layui-view-body">
<div class="layui-content">
    <div class="layui-row layui-col-space20">
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header card-notice">
                    <p class="card-title">公告</p>
                    <a class="card-more">更多>></a>
                </div>
                <div class="layui-card-body">
                    <ul>
                        <li class="card-link">
                            <a href="javascript:void(0);">关于2019年本xxx全部门年会活动安排</a>
                            <p>2019年1月18日 23:55:58</p>
                        </li>
                        <li class="card-link">
                            <a href="javascript:void(0);">关于2019年本xxx全部门年会活动安排</a>
                            <p>2019年1月18日 23:55:58</p>
                        </li>
                        <li class="card-link">
                            <a href="javascript:void(0);">关于2019年本xxx全部门年会活动安排</a>
                            <p>2019年1月18日 23:55:58</p>
                        </li>
                        <li class="card-link">
                            <a href="javascript:void(0);">年假放假安排</a>
                            <p>2019年1月18日 23:55:58</p>
                        </li>
                        <li class="card-link">
                            <a href="javascript:void(0);">户外素拓活动安排</a>
                            <p>2019年1月18日 23:55:58</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header card-notice">
                    <p class="card-title">共享文件</p>
                    <a class="card-more">更多>></a>
                </div>
                <div class="layui-card-body">
                    <ul>
                        <li class="card-link">
                            <a href="javascript:void(0);">关于2019年本xxx全部门年会活动安排</a>
                            <p>2019年1月18日 23:55:58</p>
                        </li>
                        <li class="card-link">
                            <a href="javascript:void(0);">年假放假安排</a>
                            <p>2019年1月18日 23:55:58</p>
                        </li>
                        <li class="card-link">
                            <a href="javascript:void(0);">户外素拓活动安排</a>
                            <p>2019年1月18日 23:55:58</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-tab layui-tab-brief">
                    <ul class="layui-tab-title">
                        <li class="layui-this">待办任务</li>
                        <li>已完成任务</li>
                    </ul>
                    <div class="layui-tab-content clearfix">
                        <div class="layui-tab-item layui-show">
                            <table class="layui-table" lay-size="sm">
                                <colgroup>
                                    <col width="">
                                    <col width="200">
                                    <col width="200">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>任务</th>
                                    <th>指派人</th>
                                    <th>指派时间</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>xxx部门申请活动经费</td>
                                    <td>贤心</td>
                                    <td>2019年1月19日 12:10:12</td>
                                </tr>
                                <tr>
                                    <td>xxx部门申请活动经费</td>
                                    <td>许闲心</td>
                                    <td>2019年1月19日 12:09:42</td>
                                </tr>
                                <tr>
                                    <td>xxx部门申请活动经费</td>
                                    <td>许闲心</td>
                                    <td>2019年1月19日 12:09:42</td>
                                </tr>
                                </tbody>
                                <tr>
                                    <td>xxx部门申请活动经费</td>
                                    <td>许闲心</td>
                                    <td>2019年1月19日 12:09:42</td>
                                </tr>
                            </table>
                        </div>
                        <div class="layui-tab-item">
                            <table class="layui-table" lay-size="sm">
                                <colgroup>
                                    <col width="">
                                    <col width="200">
                                    <col width="200">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>任务</th>
                                    <th>指派人</th>
                                    <th>完成时间</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>xxx部门申请活动经费</td>
                                    <td>贤心</td>
                                    <td>2019年1月19日 12:10:12</td>
                                </tr>
                                <tr>
                                    <td>xxx部门申请活动经费</td>
                                    <td>许闲心</td>
                                    <td>2019年1月19日 12:09:42</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <a class="card-more" href="#">更多>></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>