* {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    tap-highlight-color: hsla(0,0%,100%,0);
}
.modal {
    width:650px;
    height:400px;
    box-shadow:0 0 10px rgba(0,0,0,.4);
    border-radius:8px;
    position:fixed;
    z-index:100;
    background-color:#fff;
    display:none;
}
.modal-header {
    border-bottom:1px solid #eaeaea;
    height:35px;
    line-height:35px;
    text-align:center;
}
.modal-body{
    height: 75%;
    line-height: 75%;
    margin: 5px 0px;
}
.modal-footer{
    border-top:1px solid #eaeaea;
    text-align: center;
}
.modal-footer input{
    width: 90px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    margin:5px 80px;
}
.modal-tips{
    width:200px;
    height:140px;
    box-shadow:0 0 10px rgba(0,0,0,.4);
    border-radius:8px;
    position:fixed;
    z-index:100;
    background-color:#fff;
    display:none;
}
.modal-tips-header{
    border-bottom:1px solid #eaeaea;
    height:35px;
    line-height:35px;
    text-align:center;
}
.modal-tips-body{
    height: 70px;
    line-height: 70px;
    text-align: center;
    color: red;
}
.modal-tips-footer{
    text-align: center;
}
.modal-tips-footer input{
    width: 68px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    margin-left: 10px;
}
.modal-tips-footer a{
    width: 68px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    margin-left: 10px;
}

.close{
    position:absolute;
    top:2px;
    right: 10px;
    font-size: 26px!important;
    cursor:pointer;
}
.close:hover{
    color:#A30D10;
}
.mask{
    background-color:#000;
    width:100%;
    height:1000px;
    opacity:.3;
    filter:alpha(opacity=30);
    position:absolute;
    left:0;
    top:0;
    z-index:0;
    display:none;
}