* {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    tap-highlight-color: hsla(0,0%,100%,0);
}
a{
    text-decoration: none;
    color: #475059;
}
div{
    display: block;
}
li{
    display: list-item;
    text-align: -webkit-match-parent;
}
ol,li{
    list-style: none;
}
.color-coral{
    background-color: lightcoral;
}
.color-blue{
    background-color: lightblue;
}
.color-salmon{
    background-color: lightsalmon;
}
.color-green{
    background-color: lightgreen;
}
.sign {
    height: 530px;
}
article{
    height: 100%;
}
.top-nav-bg{
    width: 100%;
    height: 100%;
    background-position: center -10px;
    background-repeat: no-repeat;
    background-color: #337ab7;
    filter: blur(1px);
}
.top-nav{
    position: relative;
    height: 45px;
}
.logo{
    display: block;
    float: left;
    height: 50px;
    width: 230px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    padding: 0 15px;
    margin-bottom: 5px;
    font-weight: 300;
    overflow: hidden;
}
.logo-lg{
    display: block;
    font-weight: bold;
    font-size: 25px;
    text-shadow: 3px 3px 7px #000;
    z-index: 1060;
}
.left-nav{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #272b31;
    height:575px;
    width: 118px;
    float: left;
}
.user{
    margin: 0px 20px;
}
.user img{
    vertical-align: middle;
    border-radius: 50%;
    width: 64px;
    height: 64px;
}
.menu{
    margin: 18px 0px;
}
.menu a{
    color: #b2b3b5;
    font-size: 18px;
    font-weight: 450;
}
.article{
    height: 100%;
}