* {
    padding: 0;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}
a{
    text-decoration: none;
    cursor: pointer;
}

div{
    display: block;
}
li{
    display: list-item;
    text-align: -webkit-match-parent;
}
ol,li{
    list-style: none;
}

.color-coral{
    background-color: lightcoral;
}
.color-blue{
    background-color: lightblue;
}
.color-salmon{
    background-color: lightsalmon;
}
.color-green{
    background-color: lightgreen;
}

.card-notice .card-title{
    font-size: 16px;
    float: left;
}
.card-more{
    color: #c0c0c0;
    cursor: pointer;
    float: right;
}
.card-link a{
    font-size: 13px;
    color: #1C1C1C;
}
.card-link p{
    font-size: 11px;
    color:#3c3c3c;
    float: right;
}
.task-title{
    font-size: 13px;
    color: #1C1C1C;
    cursor: pointer;
    float: left;
}
.task-requester{
    font-size: 13px;
    margin: 0px 310px;
    height: 15px;
    cursor: pointer;
    color: #1C1C1C;
}
.task-star-time{
    font-size: 13px;
    color: #3c3c3c;
    float: right;
}
.text{
    margin: 6px 0;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
}
/*
   这个clearfix用于清楚浮动效果，十分常用
*/
.clearfix:after{
    display: block;
    content: "";
    clear: both;
}
.file-select .item{
    margin: 0px 10px 0px 0px;
    float: left;
}

.file-select .item input{
    width: 140px;
    height: 23px;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 0px 5px;
}
.file-select .btn{
    height: 28px;
    float: right;
}
.file-select .btn input{
    width: 50px;
    float: left;
}
.user_info_icon{
    float: left;
    width: 4px;
    height: 16px;
    margin-top: 18px;
    background-color: #177ce3!important; /*#009688;*/
    border-radius: 4px;
}
.user_info_text{
    float: left;
    margin: 5px 0 0 5px;
    color: #177ce3!important; /*#009688;*/
    font-size: 14px;
    cursor: default;
}
.manage_btn{
    padding: 8px 0px 8px 8px;
}

.chart-card{
    padding: 10px 17px 8px;
}

.layui-content{
    padding: 16px;
}



.chart-card .chart-header{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.chart-card .metawrap{
    float: left;
}

.chart-card .metawrap .meta{
    color: rgba(0,0,0,.45);
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    height: 22px;
}

.chart-card .metawrap .total{
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
    color: rgba(0,0,0,.85);
    margin-top: 4px;
    margin-bottom: 0;
    font-size: 30px;
    line-height: 38px;
    height: 38px;
}

.chart-card .chart-body{
    margin-bottom: 12px;
    position: relative;
    width: 100%;
}

.chart-card .chart-footer{
    padding-top: 9px;
    margin-top: 8px;
    border-top: 1px solid #e8e8e8;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.chart-card .field{

}

.chart-card .field span{
    font-size: 14px;
    line-height: 22px;
}

.chart-card .field span:last-child{
    margin-left: 8px;
    color: rgba(0,0,0,.85);
}

.download-btn{
    width: 260px;
    height: 40px;
    font-size: 23px;
}

.file-img{
    width: 240px;
    height: 240px;
}

/*换行*/
.content-wrap{
    height: auto;
    word-wrap:break-word;
    word-break:break-all;
    overflow: hidden;
    /*white-space:nowrap;强制不换行切除*/
}
/*超出长度显示...（需要父元素设置宽度才有效果）*/
.content-space{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
    word-wrap: normal;
}
.view-content{
    padding:10px;
}
.card-header{
    background:#dadada;
    background-image: -webkit-linear-gradient(left,#c9c9c9,#dadada);
}
#notice-body p{
    margin-bottom: 20px;
}