* {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    tap-highlight-color: hsla(0,0%,100%,0);
}
a{
    text-decoration: none;
    color: #00a1d6;
}

div{
    display: block;
}
li{
    display: list-item;
    text-align: -webkit-match-parent;
}
ol,li{
    list-style: none;
}
.color-coral{
    background-color: lightcoral;
}
.color-blue{
    background-color: lightblue;
}
.color-salmon{
    background-color: lightsalmon;
}
.color-green{
    background-color: lightgreen;
}
.sign {
    height: 450px;
}
header{
    height: 100px;
}
nav{
    height:100%;
    width: 150px;
    float: left;
}
aside{
    height: 100%;
    width: 150px;
    float: right;
}
article{
    height: 100%;
}