<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/favicon.ico"/>
    <link rel="bookmark" type="image/x-icon" href="../static/images/favicon.ico">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/login.css"/>
    <script src="../static/jquery-3.3.1/jquery-3.3.1.js"></script>
    <script src="../static/js/login.js"></script>
</head>
<body>
<!--<script type="text/javascript">alert($)</script>-->
<script type="text/javascript">
</script>
<div class="sign">
    <header class="title"><p>欢迎进入多多OA</p></header>
    <div id="container">
            <div class="login-form">
                <div class="login-input">
                    <form id="user">
                        <ul>
                            <li class="item">
                                <p>登录</p>
                            </li>

                            <li class="item">
                                <input type="text" maxlength="10" value placeholder="用户名" id="login-username">
                                <div class="text clearfix">
                                    <p class="tips"></p>
                                </div>
                            </li>

                            <li class="item">
                                <input type="password" maxlength="12" value placeholder="密码" id="login-password">
                                <div class="text clearfix">
                                    <p class="tips"></p>
                                </div>
                            </li>
                            <li>
                                <a class="forger clearfix">忘记密码？</a>
                            </li>
                            <li class="item">
                                <a class="btn-big btn-login" id="login">登录</a>
                                <a class="btn-big btn-reg" id="register">注册</a>
                            </li>
                        </ul>
                    </form>
                </div>
        </div>
    </div>
    <div class="login-footer"></div>
</div>
</body>
</html>