<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>注册 - 多多OA</title>
    <link rel="icon" href="../static/images/favicon.ico">
    <link rel="stylesheet" href="../static/css/register.css"/>
    <link rel="stylesheet" href="../static/layui/css/layui.css"/>
    <script src="../static/jquery-3.3.1/jquery-3.3.1.js"></script>
    <script src="../static/jquery-cookies-1.4.1/jquery.cookie.js"></script>
    <!--<script src="static/js/login.js"></script>-->
</head>
<body>
<div class="sign">
    <header class="title"><p>欢迎使用多多OA</p></header>
    <div class="register-form">
        <div>
            <ul>
                <li class="item"><p>注册</p></li>
                <li class="item">
                    <input type="text" value placeholder="你的账号名" id="register-username">
                    <div class="text clearfix"></div>
                </li>
                <li class="item">
                    <input type="text" value placeholder="手机号" id="register-phone">
                    <div class="text clearfix"></div>
                </li>
                <li class="item">
                    <input type="text" value placeholder="设置密码" id="register-password">
                    <div class="text clearfix"></div>
                </li>
                <li>
                    <a class="tologin clearfix" href="login.html">已有账号，去登录</a>
                </li>
                <li>
                    <a class="btn-big btn-reg">注册</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>