<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>忘记密码 - 多多OA</title>
    <link rel="icon" href="static/images/favicon.ico">
    <link rel="stylesheet" href="static/css/forget.css"/>
    <script src="static/jquery-3.3.1/jquery-3.3.1.js"></script>
    <script src="static/jquery-cookies-1.4.1/jquery.cookie.js"></script>
<!--     <script src="static/js/forget.js"></script> -->
</head>
<body>
<div class="sign">
    <header class="title"><p>找回密码</p></header>
    <div class="forger-answer-form">
        <div>
            <ul>
            	<li class="item"><p th:text="aa"></p></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>